/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $font-family-sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $black;
	background-color: white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */


// ================================================
// HEADER
// - all header styles go here
// ================================================

.icon-logo {
  @include redeemer-logo-full;
}

// Header
// ------------------------------------------------

.header {
  background-position: 50% 50%;
  background-size: cover;
}

.header .inner {
  padding: 0 0 0.2rem;
  background: transparentize($black, .5);
}

.header a {
  color: $white;
}

.header .site-title {
  margin: 0;
  font-size: 9rem;
  text-align: center;
}

.header .headline {
  margin: 3rem 0;
  color: $white;
  font-family: $font-family-serif;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  text-align: center;
}

hr {
  border: none;
  border-top: .2rem solid $white;
}


// ================================================
// NAVIGATION
// - all navigation related styles go here
// ================================================


// Main Menu
// ------------------------------------------------

.main-menu {
  margin: .5rem 0 3rem 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.main-menu li {
  display: inline;
  margin: 2.5rem 0;
  list-style-type: none;
  font-weight: bold;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.main-menu li a {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.main-menu li.current-menu-item a {
  background: $white;
  color: $black;
}


// ================================================
// FOOTER
// - all footer styles go here
// ================================================


.icon-twitter {
  @include redeemer-twitter;
}

.icon-facebook {
  @include redeemer-facebook;
}

.icon-instagram {
  @include redeemer-instagram;
}

.icon-email {
  @include redeemer-email;
}


// Social
// ------------------------------------------------

.social {
  margin-bottom: 0;
  padding: 2rem 0;
  font-size: 1.8rem;
  text-align: center;
  list-style: none;
  background: lighten($brand-slate, 10%);
}

.social li {
  display: inline;
  list-style-type: none;
}

.social li a {
  display: inline-block;
  margin: 0 1rem;
  color: lighten($brand-slate, 30%);

  &:hover {
    color: darken($brand-slate, 10%);
  }
}


// Footer
// ------------------------------------------------

.footer {
//   @include clearfix();
  padding: 3rem 0 0 0;
  background: $brand-slate;
}

.footer div {

  margin-bottom: 2rem;
  text-align: center;
}

.footer a {
  color: darken($brand-slate, 25%);
  border-bottom: 2px solid darken($brand-slate, 10%);
}

.footer h3 {
  color: lighten($brand-slate, 40%);
  font-size: 1rem;
  letter-spacing: $letter-spacing-default;
  text-transform: uppercase;
}

.footer address,
.footer p {
  color: darken($brand-slate, 25%);
  font-family: $font-family-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
}


// Copyright
// ------------------------------------------------

.copyright {
  padding: 1.5rem 0;
  color: lighten($brand-slate, 25%);
  font-weight: bold;
  letter-spacing: $letter-spacing-default;
  text-align: center;
  text-transform: uppercase;
  background: darken($brand-slate, 2%);
}

.copyright p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

// ================================================
// GLOBAL STYLES
// - global styles
// ================================================

p.body-content {
	font-family: $font-family-sans-serif;
	font-size: 1.4rem;
}
.entry-content {
	margin: 3rem 0;
	
	h2 {
		font-family: $font-family-serif;
		font-weight: bold;
		font-style: normal;
		font-size: 1.8rem;
	}
}
.body-content a {
	color: $brand-slate;
	text-decoration: none;

	&:hover {
		color: darken($brand-slate, 15%);
	}
}

// ================================================
// PAGE SPECIFIC STYLES
// - any styles that go to any particular
//   page goes here
// ================================================

// Home Page
// ------------------------------------------------

.blockquote-verse {
	text-align: center;
	width: 50%;
	margin: 5rem auto;
	font-size: 1.6rem;
}
.verse {
	line-height: 1.4;
	font-family: $font-family-serif;
	font-weight: normal;
	font-style: italic;
	color: lighten($brand-slate, 15%);
}
.verse-reference {
	position: relative;
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	font-weight: bold;
	color: $brand-slate;
	top: 1rem;
}

// Connecting Page
// ------------------------------------------------
.google-maps {
	position: relative;
	height: 500px;
}